<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My Page</h1>
    <br>
    <a href="{% url 'about' %}">Assigned us</a>
    <hr>
    <h2>{{ data }}</h2>
    {% for s in data %}
        {% if s == 'django' %}
            <h1>{{ s }}</h1>
        {% else %}
            <h3>{{ s }}</h4>
        {% endif %}

    {% endfor %}


</body>
</html>